{% extends 'templates/base.html.twig' %}

{% block title %}<title>Article</title>{% endblock %}

{% block content %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                {% if article.category.name %}
                    <td>{{ article.category.name }}</td>
                {% else %}
                    <td>Aucune catégorie associée</td>
                {% endif %}
            </tr>
            <tr>
                <th>Tags</th>
                {% for tag in article.tags %}
                    <td>{{ tag.name }}</td>
                {% else %}
                <td>Aucun tag associé</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
